<br>
<br>
<br>

<h2 class="text-center">Welcome to the smart patient management system</h2>

<br>
<br>

<h4 class="text-center">The system allows you to add patients and assign appointment date and time to them. You can also view all patients and search for specific ones. </h4>